<div class='row'>
  <div class='col-md-8 offset-md-2'>
    <ul class='card card-body bg-dark'>
      <%= link_to 'Crear ToDo', new_todo_path, class: 'btn btn-success MB' %>
      <% @todos.each do |t| %>
        <li class='list-group-item'>
          <p> <%= t.description %> </p>
        </li>
        <%= link_to 'Ver ToDo', todo_path(1), class: 'btn btn-info' %>
        <%= link_to 'Editar ToDo', edit_todo_path(7), class: 'btn btn-warning' %>
        <%= link_to 'Borrar ToDo', todo_path(7), method: :delete, class: 'btn btn-danger MB' %>
      <% end %>
    </ul>
  </div>
</div>
